<nav class="shell-nav">
  <span class="shell-nav__brand">
    <fa-icon icon="microchip" />
    Stack86
  </span>
  <div class="shell-nav__tabs">
    <a
      class="shell-nav__tab"
      routerLink="/compiler"
      routerLinkActive="shell-nav__tab--active"
    >
      <fa-icon icon="code" />
      Compiler
    </a>
    <a
      class="shell-nav__tab"
      routerLink="/8086-emulator"
      routerLinkActive="shell-nav__tab--active"
    >
      <fa-icon icon="microchip" />
      8086 Emulator
    </a>
  </div>
</nav>
